*{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background: #2C2D33;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 430px ;
    height: 448px;
}

.first-p{
    padding-top: 28px;
    padding-left: 45px;
    font: 600 16px 'Roboto';
    color: #828282;
}

.number {
    padding-top: 4px;
    padding-left: 45px;   
    font: 500 40px 'Roboto';
    color: #FFFFFF;
}

.second-p {
    padding-top: 4px;
    padding-left: 45px;
    font: 400 14px 'Roboto';
    color: #FFFFFF;
}

.line {
    margin-top: 27px;
    height: 2px;
    background-color: #4F4F4F;;
    }

.img-1 {
    margin-top: 29px;
    margin-left: 29px;
    background-image: url(./Group\ 2281.svg) ;
    background-repeat: no-repeat;
    width: 364px;
    height: 197px;
}

.lit-blue-p {
    margin-top: 44px;
    padding-left: 72px;
    margin-bottom: 36px;
    display: flex;
    align-items: center;
}

.img-blue-block {
    background-image: url(./Rectangle\ 1339.svg) ;
    background-repeat: no-repeat;
    width: 21px;
    height: 8px;
    margin-right: 9px;
}

.lit-blue-p p {
    font: 400 12px 'Inter';    
    color: #FFFFFF;
}