* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background: #2C2D33;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 430px;
    height: 448px;
}

.first-p {
    padding-top: 28px;
    padding-left: 45px;
    font: 500 16px 'Roboto';
    color: #828282;
}

.number {
    padding-top: 4px;
    padding-left: 45px;
    font: 500 40px 'Roboto';
    color: #FFFFFF;
}

.second-p {
    padding-top: 4px;
    padding-left: 45px;
    font: 400 14px 'Roboto';
    color: #FFFFFF;
}

.line {
    margin-top: 27px;
    height: 2px;
    background-color: #4F4F4F;
}

.img-1 {
    margin-top: 29px;
    margin-left: 29px;
    background-image: url(./Group\ 2281.svg);
    background-repeat: no-repeat;
    width: 364px;
    height: 197px;
}

.lit-blue-p {
    margin-top: 44px;
    padding-left: 72px;
    margin-bottom: 36px;
    display: flex;
    align-items: center;
}

.img-blue-block {
    background-image: url(./Rectangle\ 1339.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 8px;
    margin-right: 9px;
}

.lit-blue-p p {
    font: 400 12px 'Inter';
    color: #FFFFFF;
}



.wrapper-2 {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 430px;
    height: 400px;
}

.first-pp {
    padding-top: 28px;
    padding-left: 45px;
    font: 500 16px 'Roboto';
    color: #828282;
}

.number-2 {
    padding-top: 4px;
    padding-left: 45px;
    font: 500 40px 'Roboto';
    color: #0B1354;
}

.second-pp {
    padding-top: 4px;
    padding-left: 45px;
    font: 400 14px 'Roboto';
    color: #4F4F4F;
}

.line-2 {
    margin-top: 27px;
    height: 2px;
    background-color: #ECECEC;
}

.container {
    display: flex;
    flex-direction: row;
}

.img-2 {
    background-image: url(./Group\ 2280.svg);
    width: 240px;
    background-repeat: no-repeat;
    height: 240px;
}

.lit {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 25px;
}

.lit-blue-d,
.lit-pink-d,
.lit-green-d {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-blue-block {
    background-image: url(./Rectangle\ 1339-1.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 8px;
    margin-right: 9px;
}

.lit-blue-d p {
    font: 400 12px 'Inter';
    color: #4F4F4F;
}

.img-pink-block {
    background-image: url(./Rectangle\ 1339-2.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 8px;
    margin-right: 9px;
}

.lit-pink-d p {
    font: 400 12px 'Inter';
    color: #4F4F4F;
}

.img-green-block {
    background-image: url(./Rectangle\ 1340-3.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 8px;
    margin-right: 9px;
}

.lit-green-d p {
    font: 400 12px 'Inter';
    color: #4F4F4F;
}




.wrapper-3 {
    background: #2C2D33;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 430px;
    height: 448px;
}

.first-ppp {
    padding-top: 28px;
    padding-left: 45px;
    font: 500 16px 'Roboto';
    color: #828282;
}

.number-3 {
    padding-top: 4px;
    padding-left: 45px;
    font: 500 40px 'Roboto';
    color: #FFFFFF;
}

.second-ppp {
    padding-top: 4px;
    padding-left: 45px;
    font: 400 14px 'Roboto';
    color: #FFFFFF;
}

.line-3 {
    margin-top: 27px;
    height: 2px;
    background-color: #4F4F4F;
}

.container-3 {
    display: inline;
}

.img-3 {
    margin-top: 29px;
    margin-left: 29px;
    background-image: url(./Group\ 2294.svg);
    background-repeat: no-repeat;
    width: 364px;
    height: 197px;
}

.lit-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 36px;
    margin-left: 36px;
}

.lit-blue-a,
.lit-pink-a,
.lit-green-a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font: 400 12px 'Inter';
    color: #FFFFFF;
}

.img-blue-block-a {
    background-image: url(./img/Rectangle\ 1339\ \(a\).svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 8px;
    margin-right: 9px;
}

.img-pink-block-a {
    background-image: url(./img/Rectangle\ 1342.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 8px;
    margin-right: 9px;

}

.img-green-block-a {
    background-image: url(./img/Rectangle\ 1343.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 8px;
    margin-right: 9px;

}